body {
  background-color: #ded3fd;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  display: block;
}

#menubar {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu_item {
  display: inline-block;
  list-style-type: none;
  padding: 10px 20px;
  border-radius: 20px;
}

#menu_item:hover {
  background-color: #b8ceff;
}

#menu_text {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

#left_top_text {
  padding: 10px;
}

#logo_link {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #b8b7fd;
  height: 500px;
}

#inner_content {
  color: white;
  text-align: center;
}

#main_title {
  font-size: 36px;
}

#main_content {
  font-size: 16px;
}

#about_website {
  padding: 30px;
  background-color: #b8ceff;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 300px;
}

#about_website_title {
  font-size: 30px;
}

#about_website_message {
  font-size: 16px;
  color: #eff2f9;
}

#footer {
  background-color: #ded3fd;
  color: white;
  padding: 30px;
}

#footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer_text {
  font-size: 14px;
}

#github_logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
