body {
  background-color: #ded3fd;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  display: block;
}

#menubar {
  background-color: #b8b7fd;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu_item {
  display: inline-block;
  list-style-type: none;
  padding: 10px 20px;
  border-radius: 20px;
}

#menu_item:hover {
  background-color: #b8ceff;
}

#menu_text {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

#left_top_text {
  padding: 10px;
}

#logo_link {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #effbff;
  height: 500px;
}

#inner_content {
  color: #6e7f8d;
  text-align: center;
}

#main_title {
  font-size: 36px;
}

#main_content {
  font-size: 16px;
}
