#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b8b7fd;
}

#outer_box {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px #6e7f9d;
  display: block;
}

#left_box {
  display: inline-block;
  margin-right: 20px;
}

#leftbox_spacer {
  display: inline-block;
  height: 250px;
}

#leftbox_title {
  font-size: 30px;
  font-weight: bold;
  color: #6e7f9d;
}

#leftbox_content {
  font-size: 16px;
  font-weight: 500;
  color: #6e7f9d;
}

#right_box {
  display: inline-block;
}

#personal_form {
  padding: 10px;
  border-radius: 20px;
  color: rgb(129, 30, 241);
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}

#form_id {
  padding: 10px;
}

#form_password {
  padding: 10px;
}

.signup_name {
  font-size: 16px;
  font-weight: bold;
  color: #b8ceff;
  padding: 0 10px 20px 0;
  display: inline-block;
}

#signup_label {
  font-size: 16px;
  font-weight: bold;
  color: #b8ceff;
  padding: 0 0 10px 0;
  display: block;
}

.signup_selector {
  font-size: 14px;
  font-weight: bold;
  color: #ded3fd;
  padding: 0 10px 0 0;
}

.input_text {
  padding: 5px;
  border: 1px solid;
  background-color: #effbff;
  border-radius: 5px;
  border-color: #e4ebf1;
}

#signup_buttons {
  display: inline-block;
  padding-top: 20px;
}

#signup_reset_button {
  padding: 10px 50px 10px 50px;
  background-color: #e4ebf1;
  border: 1px solid;
  border-radius: 10px;
  color: #6e7f9d;
  font-size: 14px;
  font-weight: bold;
}

#signup_reset_button:hover {
  background: #6e7f9d;
  color: #e4ebf1;
}

#signup_button {
  padding: 10px 100px 10px 100px;
  background-color: #9966f5;
  border: none;
  border-radius: 10px;
  color: #ded3fd;
  font-size: 14px;
  font-weight: bold;
}

#signup_button:hover {
  background-color: #ded3fd;
  color: #9966f5;
}

#reset_button_container {
  padding: 0 10px 0 0;
  display: inline-block;
}
