body {
  background-color: #ded3fd;
  font-family: "Noto Sans KR", sans-serif;
}

h3 {
  color: rgb(129, 30, 241);
}

dl {
  color: rgb(210, 162, 250);
}

#page_title {
  color: #df88fd;
}

#page_divider {
  border: 2px solid #b8b7fd;
}

#images {
  position: relative;
  display: grid;
  padding: 10px;
}

#school_logo {
  margin: 0 0 20px 0;
}

#self_intro_contents {
  background-color: #eff2f9;
  padding: 10px 0 10px 0;
  border-radius: 20px;
  box-shadow: 0 0 10px #6e7f9d;
  color: #b8b7fd;
  margin: 20px 0 20px 10px;
  font-weight: 500;
}



#my {
  border-radius: 10px;
  border: 5px solid #b8b7fd;
}
