body {
  background-color: #ded3fd;
  font-family: "Noto Sans KR", sans-serif;
}

h3 {
  color: rgb(129, 30, 241);
}

ul {
  color: rgb(129, 30, 241);
}

dl {
  color: rgb(210, 162, 250);
}

#page_title {
  color: #df88fd;
}

#page_divider {
  border: 2px solid #b8b7fd;
}

#images {
  position: relative;
  display: grid;
  padding: 10px;
}

#school_logo {
  margin: 0 0 20px 0;
}

#my {
  border-radius: 10px;
  border: 5px solid #b8b7fd;
}
