#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #b8b7fd;
}

#outer_box {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px #6e7f9d;
  display: block;
}

#left_box {
  display: inline-block;
}

#leftbox_title {
  font-size: 30px;
  font-weight: bold;
  color: #6e7f9d;
}

#leftbox_content {
  font-size: 16px;
  font-weight: 500;
  color: #6e7f9d;
}

#right_box {
  display: inline-block;
}

#personal_form {
  padding: 10px;
  border-radius: 20px;
  color: rgb(129, 30, 241);
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}

#form_id {
  padding: 10px;
}

#form_password {
  padding: 10px;
}

#signup_button {
  padding: 10px;
  background-color: deepskyblue;
  border: 0px;
  border-radius: 10px;
}

#signup_label {
  font-size: 20px;
  font-weight: bold;
  color: #b8ceff;
}

#signup_selector {
  font-size: 16px;
  font-weight: bold;
  color: #ded3fd;
}
